.footer {
  padding: 5vh 0;
  border-top: 4px solid $lightblue;
}
.footer-top-portion {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 30px;
  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.footer-item-container {
  text-align: center;
}
.footer-item {
  display: inline-block;
  justify-content: center;
}
.footer-heading {
  color: $lightblue;
  font-family: $raleway;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 20px;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}
.footer-content {
  font-family: $montserrat;
  font-size: 14px;
  margin-top: 20px;
  a {
    text-decoration: none;
    color: black;
  }
  .footer-content-hours {
    text-align: left;
  }
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}
.hours-disclaimer {
  text-align: left;
  font-size: 12px;
  margin-top: 5px;
}
#map {
  border: $lightorange 2px solid;
  border-radius: 10px;
}
.footer-bottom-section {
  display: flex;
  justify-content: center;
}
.footer-logo {
  width: 175px;
  height: 85px;
}
.copyright {
  font-family: $montserrat;
  font-size: 12px;
  a {
    text-decoration: underline;
    color: black;
    margin-left: 5px;
  }
  p{
    font-family: $montserrat;
  font-size: 12px;
  margin: 0;
  }
}
#currentYear{
  margin-right: 5px;
}
.to-top-container{
  margin-top: 50px;
}
.to-top {
  text-align: center;
  .fa-angle-up {
    font-size: 14px;
    @media screen and (min-width: $tablet) {
      font-size: 18px;
    }
  }
  &__button {
    font-size: 18px !important;
    border: none;
    outline: none;
    background: $gradient-blue;
    color: white;
    font-family: $raleway;
    border-radius: 4px;
    margin: -20px 0 0 -20px;
    height: 50px;
    width: 50px;
    position: absolute;
  }
}

.announcement-toggle {
  display: none;
}

/* Announcement Section */
.announcement {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1099;
  transform: translateY(0);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    
  }

  svg {
    max-width: 40px;
    fill: #329bac;
  }

  label {
    position: absolute;
    top: 0;
    right: 0;
  }
}



/* Close Button */
.close-btn {
  background: none;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;
  line-height: 1;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: end;
}

.close-btn:hover {
  opacity: 0.7;
}

/* When the checkbox is checked, hide the announcement */
.announcement-toggle:checked + .announcement {
  transform: translateY(100%);
}