.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  &__content {
    background: url("../images/modal-background.jpg");
    background-size: cover;
    margin: 15% auto;
    padding: 45px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: center;
  }
  &__options {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  h1 {
    margin-top: 50px;
    font-size: 26px;
    @media screen and (min-width: $tablet) {
      font-size: 36px;
    }
  }
  p {
    color: black;
  }

  a {
    text-decoration: none;
  }
}
.modal__options a:hover p {
  font-weight: bold;
}
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
