// Hero Section
.welcome {
  background-image: url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  height: 100%;
  @media screen and (min-width: $tablet) {
    grid-template-columns: 400px;
    padding: 90px 90px 90px 20px;
  }
  &__statement {
    line-height: 1.2;
    color: black;
    text-align: center;
    font-family: $montserrat;
    font-size: 24px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
      text-align: left;
    }
  }
  &__transparent-box {
    background: rgba(245, 246, 247, 0.8);
    padding: 20px;
    margin-top: -20px;
    border-radius: 10px;
  }
  h1 {
    text-align: center;
    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }
}

.services-btn {
  display: flex;
  justify-content: center;
}

// Pediatricians section
.pediatricians-section {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  padding: 35px 0px;
  .img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  img {
    max-width: 300px;
    height: 300px;
    @media screen and (min-width: $tablet) {
      max-width: 350px;
      height: 350px;
    }
    @media screen and (min-width: $large-desktop) {
      max-width: 500px;
      height: 500px;
    }
  }
  h1 {
    color: #1751a3;
  }
  p {
    font-family: $montserrat;
    line-height: 1.5;
  }
  h1,
  p {
    text-align: center;
    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }
  .description-wrapper {
    padding: 25px;
    @media screen and (min-width: $tablet) {
      padding: 25px 50px 25px 25px;
    }
  }
}
.staff-btn {
  display: flex;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    justify-content: start;
  }
}
// Quick Link CTA Cards
.cards-quick-link {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @media screen and (min-width: $mobile) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
  }
  img {
    border-radius: 10px;
  }
}
.card-container {
  position: relative;
  text-align: center;
  color: white;
  img {
    filter: brightness(80%);
  }
}
.card-container:hover {
  filter: brightness(75%);
}
.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: $raleway;
  text-transform: uppercase;
  font-size: 24px;
}

// Callout section
.callout-section {
  text-align: center;
  font-size: 16px;
  padding: 20px;
  & span {
    font-weight: 700;
    color: #595959;
    font-style: italic;
    font-size: 18px;
  }
  @media screen and (min-width: $mobile) {
    padding: 40px;
  }
  p {
    font-family: $montserrat;
    margin-top: 20px;
  }
}
.home {
  .phone-number a {
    font-size: 22px;
  }
}
// Services detail CTAs
.services-cta-section {
  padding: 20px;
  h1 {
    text-align: center;
  }
  a {
    color: black;
    text-decoration: none;
  }
  @media screen and (min-width: $tablet) {
    padding: 40px;
  }
}
.services-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  font-family: $montserrat;
  padding: 0px;
  @media screen and (min-width: $tablet) {
    padding: 40px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.services-cta {
  transition: 1s;
  border-radius: 10px;
  padding: 10px;
}

.services-cta:hover {
  background-color: #ededeb;
}

.service-icon {
  color: $lightblue;
  padding-bottom: 10px;
}
.fa-classic,
.fa-regular,
.fa-solid,
.far,
.fas {
  font-family: "Font Awesome 6 Free";
  font-size: 35px;
}
.service-cta-title {
  text-transform: uppercase;
  margin: 5px 0px;
  font-weight: 500;
}

/* Testimonials */
.custom-shape-divider-top-1642795764 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1642795764 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 66px;
}

.custom-shape-divider-top-1642795764 .shape-fill {
  fill: #ffffff;
}
.testimonials {
  position: relative;
  height: 100%;
}
.testimonials-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(../images/testimonials-background.jpg);
  background-position: center;
  background-size: cover;
  @media screen and (min-width: $tablet) {
    padding-bottom: 20vh;
  }
}
quote {
  font-family: "arial";
  font-weight: bold;
  font-size: 100px;
  color: white;
  margin-bottom: 0;
}
.testimonials p {
  padding: 0 60px;
  font-weight: bold;
  line-height: 1.7;
  color: white;
  margin-bottom: 20px;
  max-width: 750px;
  font-family: $raleway;
}
.testimonial-author {
  font-size: 14px;
  color: white;
  opacity: 0.5;
  font-weight: bold;
  font-family: $montserrat;
}
