/* ===================================== */
/* Global Styles */

// Variables

$montserrat: "Montserrat", sans-serif;
$raleway: "Raleway", sans-serif;

$darkblue: #1751a3;
$lightblue: #329bac;
$lightorange: #e59659;

$gradient-blue: linear-gradient(
  90deg,
  rgba(37, 189, 190, 1) 0%,
  rgba(52, 152, 171, 1) 55%
);

$gradient-gray: linear-gradient(
  90deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(237, 237, 235, 1) 96%
);
* {
  box-sizing: border-box;
}
body,
p,
h1 {
  margin: 0;
  padding: 0;
}

button {
  color: white;
  font-family: $montserrat;
  background-color: $lightorange;
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s all;
}
button:hover {
  background: #f7941e;
}
.center {
  display: flex;
  justify-content: center;
}
