/* ===================================== */
/* Global Styles */

// Variables

$montserrat: "Montserrat", sans-serif;
$raleway: "Raleway", sans-serif;
$roboto: "Roboto", sans-serif;

$darkblue: #1751a3;
$lightblue: #329bac;
$lightorange: #e59659;

$gradient-blue: linear-gradient(
  90deg,
  rgba(37, 189, 190, 1) 0%,
  rgba(52, 152, 171, 1) 55%
);

$gradient-gray: linear-gradient(
  90deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(237, 237, 235, 1) 96%
);
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  font-size: 16px;
  font-family: $montserrat;
  line-height: 1.5;
}
.page-container {
  padding: 0px 20px;
  @media screen and (min-width: $tablet) {
    padding: 0px 50px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0px 80px;
  }
}

button {
  color: white;
  font-family: $montserrat;
  background-color: $lightorange;
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s all;
}
button:hover {
  background: #f7941e;
}
.center {
  display: flex;
  justify-content: center;
}

.gradient-gray {
  background: $gradient-gray;
  padding: 10px 20px;
  @media screen and (min-width: $tablet) {
    padding: 10px 50px;
  }
  @media screen and (min-width: $desktop) {
    padding: 20px 80px;
  }
}
.phone-number a {
  color: #e59659;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
}
// components
.hero {
  position: relative;
  text-align: center;
  // hide under nav dropdown on mobile
  z-index: -1;

  img {
    filter: brightness(70%);
    width: 100%;
  }
}
