.providers {
  margin: 20px 0px;
  vertical-align: middle;
  align-items: center;
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 2fr;
    }
    &:nth-child(even) {
      order: 2;
      @media screen and (min-width: 769px) {
        grid-template-columns: 2fr 1fr;
      }
    }
  }
  &__img-wrapper {
    @media screen and (max-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }
  img {
    border-radius: 10px;
    width: 40%;
    margin: 15px 0;
    @media (min-width: $tablet) and (max-width: $desktop) {
      width: 60%;
    }
    @media screen and (min-width: $desktop) {
      width: 60%;
    }
    @media screen and (min-width: $xlarge-desktop) {
      width: 30%;
    }
  }
  &__content {
    @media screen and (max-width: $tablet) {
      display: block;
      order: 2;
    }
  }
}
