/* ===================================== */
/* Breakpoints */
/* ===================================== */
/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .page-container {
    padding: 0 50px;
  }
}

@media screen and (min-width: 992px) {
  .page-container {
    padding: 0 80px;
  }
}

button {
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: #e59659;
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

button:hover {
  background: #f7941e;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
}

h1 {
  line-height: 1.2;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #329bac;
  font-size: 36px;
  text-transform: capitalize;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #329bac;
  font-size: 20px;
}

h3 {
  font-size: 18px;
  color: #375141;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.hero h1 {
  margin: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
}

p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  margin-top: 10vh;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

/* ===================================================================================================================== */
/* Header: Top Portion*/
.header {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  margin: 0 2.5rem;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  width: 18rem;
}

.header-left-content {
  margin-top: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: right;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-left-content {
    display: block;
  }
}

.header-left-content a {
  color: #329bac;
  text-decoration: none;
}

/* ===================================================================================================================== */
/* Nav Bar - Links */
.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: auto;
  font-family: "Raleway", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#25bdbe), color-stop(55%, #3498ab));
  background: linear-gradient(90deg, #25bdbe 0%, #3498ab 55%);
  color: white;
  -webkit-filter: drop-shadow(0 0 0.2rem darkgray);
          filter: drop-shadow(0 0 0.2rem darkgray);
  z-index: 1099;
  padding: 20px;
  font-size: 28px;
}

@media (min-width: 768px) {
  .navbar {
    font-size: 18px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1900px) {
  .navbar {
    font-size: 24px;
  }
}

.dropdwn-menu {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(#25bdbe), color-stop(55%, #3498ab));
  background: linear-gradient(90deg, #25bdbe 0%, #3498ab 55%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (min-width: 768px) {
  .menu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.menu.menu a {
  text-decoration: none;
  color: white;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: block;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .menu-button-container {
    display: none;
  }
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 767px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: auto;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }
}

.phone {
  text-align: right;
  font-size: 20px;
}

.phone a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .phone {
    display: none;
  }
}

/* Services button link */
.dropdown .dropbtn {
  font-family: "Raleway", sans-serif;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-size: 28px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .dropdown .dropbtn {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: auto;
    font-size: 18px;
  }
}

@media (min-width: 1900px) {
  .dropdown .dropbtn {
    font-size: 24px;
  }
}

.dropdown {
  width: 100%;
}

@media (min-width: 768px) {
  .dropdown {
    width: auto;
  }
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1009;
  background: -webkit-gradient(linear, left top, right top, from(#25bdbe), color-stop(155%, #3498ab));
  background: linear-gradient(90deg, #25bdbe 0%, #3498ab 155%);
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  border-radius: none;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .dropdown-content {
    position: absolute;
    z-index: 100;
    margin-top: 25px;
    text-align: left;
    border-radius: 10px;
    font-size: 16px;
    background: -webkit-gradient(linear, left top, right top, from(#25bdbe), color-stop(55%, #3498ab));
    background: linear-gradient(90deg, #25bdbe 0%, #3498ab 55%);
  }
}

@media (min-width: 1900px) {
  .dropdown-content {
    font-size: 20px;
  }
}

/* Services Dropdown menu */
.dropdwn-menu-container {
  display: -ms-grid;
  display: grid;
}

.dropdwn-menu-container a {
  line-height: 3.25rem;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .dropdwn-menu-container a {
    line-height: 1.25rem;
  }
}

.dropdwn-menu-container a:hover {
  background-color: #e5e7eb;
  color: black;
}

@media screen and (min-width: 768px) {
  #services {
    background-color: transparent !important;
  }
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.emergency-banner {
  background-color: #1751a3;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 1.25rem 0;
  z-index: -10;
  position: relative;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(96%, #ededeb));
  background: linear-gradient(90deg, white 0%, #ededeb 96%);
  padding: 5vh 0;
}

.footer-top-portion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer-top-portion {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer-item-container {
  text-align: center;
}

.footer-item {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-heading {
  color: #329bac;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-heading {
    text-align: left;
  }
}

.footer-content {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.footer-content a {
  text-decoration: none;
  color: black;
}

.footer-content .footer-content-hours {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer-content {
    text-align: left;
  }
}

.hours-disclaimer {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

#map {
  border: #e59659 2px solid;
  border-radius: 10px;
}

.footer-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-logo {
  width: 175px;
  height: 85px;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.copyright a {
  text-decoration: underline;
  color: black;
  margin-left: 5px;
}

.showcase {
  background-image: url(../images/hero-home.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 40px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .showcase {
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
    padding: 90px 90px 90px 20px;
  }
}

.showcase h1 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .showcase h1 {
    text-align: left;
  }
}

.transparent {
  background: rgba(245, 246, 247, 0.8);
  padding: 20px;
  margin-top: -20px;
  border-radius: 10px;
}

.welcome-statement {
  line-height: 1.2;
  color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .welcome-statement {
    font-size: 20px;
    text-align: left;
  }
}

.services-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pediatricians-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(96%, #ededeb));
  background: linear-gradient(90deg, white 0%, #ededeb 96%);
  padding: 35px 0px;
}

@media screen and (min-width: 768px) {
  .pediatricians-section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.pediatricians-section .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .pediatricians-section .img-wrapper {
    display: block;
  }
}

.pediatricians-section img {
  width: 90%;
}

.pediatricians-section h1 {
  color: #1751a3;
}

.pediatricians-section p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.pediatricians-section h1,
.pediatricians-section p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .pediatricians-section h1,
  .pediatricians-section p {
    text-align: left;
  }
}

.pediatricians-section .description-wrapper {
  padding: 25px;
}

@media screen and (min-width: 768px) {
  .pediatricians-section .description-wrapper {
    padding: 25px 50px 25px 25px;
  }
}

.staff-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .staff-btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.cards-quick-link {
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

@media screen and (min-width: 576px) {
  .cards-quick-link {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
  }
}

.cards-quick-link img {
  border-radius: 10px;
}

.card-container {
  position: relative;
  text-align: center;
  color: white;
}

.card-container:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.callout-section {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(96%, #ededeb));
  background: linear-gradient(90deg, white 0%, #ededeb 96%);
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

.callout-section span {
  font-weight: 700;
  color: #595959;
  font-style: italic;
  font-size: 18px;
}

@media screen and (min-width: 576px) {
  .callout-section {
    padding: 40px;
  }
}

.callout-section p {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.phone-number a {
  color: #e59659;
  font-size: 22px;
  font-weight: bolder;
  text-decoration: none;
}

.services-cta-section {
  padding: 20px;
}

.services-cta-section h1 {
  text-align: center;
}

.services-cta-section a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .services-cta-section {
    padding: 40px;
  }
}

.services-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .services-detail {
    padding: 40px;
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .services-detail {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.services-cta {
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
  padding: 10px;
}

.services-cta:hover {
  background-color: #ededeb;
}

.service-icon {
  color: #329bac;
  width: 34px !important;
  height: 34px !important;
}

.service-cta-title {
  text-transform: uppercase;
  margin: 5px 0px;
  font-weight: 500;
}

/* Testimonials */
.custom-shape-divider-top-1642795764 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1642795764 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 66px;
}

.custom-shape-divider-top-1642795764 .shape-fill {
  fill: #ffffff;
}

.testimonials {
  position: relative;
  height: 100%;
}

.testimonials-hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../images/testimonials-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/testimonials-background.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .testimonials-hero {
    padding-bottom: 20vh;
  }
}

quote {
  font-family: "arial";
  font-weight: bold;
  font-size: 100px;
  color: white;
  margin-bottom: 0;
}

.testimonials p {
  padding: 0 60px;
  font-weight: bold;
  line-height: 1.7;
  color: white;
  margin-bottom: 20px;
  max-width: 750px;
  font-family: "Raleway", sans-serif;
}

.testimonial-author {
  font-size: 14px;
  color: white;
  opacity: 0.5;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.providers {
  margin: 20px 0px;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.providers__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .providers__container {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.providers__container:nth-child(even) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(96%, #ededeb));
  background: linear-gradient(90deg, white 0%, #ededeb 96%);
}

@media screen and (min-width: 768px) {
  .providers__container:nth-child(even) {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .providers__img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.providers img {
  border-radius: 10px;
  width: 80%;
  margin: 15px 0;
}

@media (min-width: 576px) and (max-width: 768px) {
  .providers img {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .providers__content {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=main.css.map */