.contact {
  a {
    font-family: $montserrat;
    text-decoration: none;
    line-height: 1.5;
    color: black;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    // where I thought it looks best to break down
    @media screen and (min-width: 945px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .small-font {
    font-size: 14px;
  }
  &__map-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info p {
    line-height: 1;
    font-size: 14px;
  }
}

// Gallery
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 10px 4px 40px 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 50%;
  }
}

.our-office {
  text-align: center;
}

#map2 {
  border: $lightorange 2px solid;
  border-radius: 10px;
}
